.card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.innerCard {
    padding: 1rem;
    background-color: rgb(241, 241, 241);
    height: 100%;
    transition: all .5s;
    border-radius: 5px;
}

.innerCard:hover {
    background-color: rgb(230, 255, 229);
}

.picContainer {
    position: relative;
    height: 200px;
    margin-bottom: 1rem;
}

.pic {
    position: relative !important;
    border-radius: 5px;
    // overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .picContainer {
        height: 120px;
    }
}