.card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.card:hover .icon {
    color: #028109;
}

.innerCard {
    border: rgba(0, 124, 6, 0.2) 1px solid;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    width: 100%;
    height: 100%;
}

.innerCard h2 {
    text-align: center;
}

.iconContainer {
    text-align: center;
    margin-bottom: 2rem;
}

.icon {
    font-size: 4rem;
    color: #00ad09;
    transition: all .5s;
}
