.background {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    background-position-x: 50%;
    margin-bottom: 3rem;
}

.logoContainer {
    height: 100%;
}

.logo {
    // filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    position: relative !important;
    margin-bottom: 2rem !important;
}

.headerText {
    text-align: center;
}

.headerText h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    // text-shadow: 1px 3px 2px rgb(0 0 0 / 0.4);
}

.headerText p {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.3rem;
    color: black;
}

.button {
    color: #fff !important;
}

.button:hover, .button:active {
    color: #1b1b1b !important;
}


.textBackground {
    padding: 0 5rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 0.6) 80%, rgba(255, 255, 255, 0) 100%);
}

@media only screen and (max-width: 768px) {
    .text h1 {
        font-size: 1.2rem;
    }
    .text p {
        font-size: 1rem;
    }
    .textBackground {
        background: rgba(255, 255, 255, 0.6);
        padding: 0 1rem;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 992px) {
    .textBackground {
        padding: 0 15rem;
    }
}