/* $orange: rgb(255, 56, 1);
$primary: #069bff;
$body-color: rgb(53, 53, 53);

.all {
  color: $body-color;
}

$theme-colors: (
  'primary': $orange,
);

@import '/node_modules/bootstrap/scss/bootstrap';
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";
@import "/node_modules/bootstrap/scss/buttons"; */

@import '/node_modules/bootstrap/scss/bootstrap';